<div class='business-card'>
  <div class='header' style="background-color:<%= card.header_color %>">
    <h1 class='promotion-name'><%= card.header_text %></h1>
  </div>
  <div class='content' style="background-color: <%= card.content_color %>">
    <p class='promotion-content'><%= card.content_text %></p>
    <p class='promotion-redeem'>Redeem at <%= "www.promos.io/#{code.token}" %></p>
  </div>
</div>
